<%= render "shared/header" %>
<div class="wrapper">
<body>
    <div class="question-lists">質問一覧
     <% @questions.each do |question|%>
      <li class="list">
         <%= link_to  "#{question.title}", question_path(question.id)  %>
      <h1 class="question-list">
           質問した日
         <%=l question.created_at %>
      </h1>
    </div>
    <% end %>
</body>
 </div>
<%= render "shared/footer"%>


