<footer class="top-page-fotter">
  <div class="footer-nav">
   <ul class="footer-list">
     <li><%= link_to 'お問い合わせ', '#', class: 'contact'%> </li>
   </ul>
   
   <button class="shadow" id="btn">今日の運勢</button>
   <div id="unnsei"></div>
   
   </div>
