<div class="contents-row">
<div class="title">
<%= link_to "お薬相談室", root_path, class:"title"%>
</div>
<div class="drug-information">

<h1 class="information-title">小児の薬ののませ方・使い方 </h1>
<div class="drug-powder">
<button id="powder" class="btn">粉薬</button>
<ul id="powder-list">
<li>
通常、粉薬は水と一緒に飲みますが、小さなお子さまの場合には粉の感じや味が苦手で飲まないことがあります。なので飲ませ方の工夫をご紹介します。
</li>
 ・スポイトやスプーンを利用する。<br>
 １．粉薬が入っているところにスポイトで水を少しずつたらしながら混ぜる。<br>
 ２．スポイトで吸い上げて飲ませる。<br>
 <li>
 ・お薬団子を作る<br>
 １．１回分の粉薬をお皿にあけ、１〜２滴の水を落として、団子状に固めます。
 ２．完成したお薬団子を白湯で飲ませるか、上あごやほほの内側に塗りつけてください。
 </li>
 <b>してはいけないこと</b>
 <li>
 ・ご飯と一緒に飲ませない。<br>
 苦い薬がこどもが飲みにくいからといって、食事と一緒に飲ませないようにしてください。場合によっては食事が嫌いになり食べなくなってしまうことがあります。
 </li>
<li>
  ・抗生物質などの苦いお薬などは、飲み合わせの相性が悪いものがある。<br>
  苦い粉薬などは苦味を抑えるためにコーティングが施されていますが、酸性の飲みのもの（スポーツ飲料やりんごジュース）に混ぜると苦味が増してしまう可能性があります。
</li>
</ul>
<div class="drug-tablet">
<button id="tablet" class="btn">錠剤</button>
<ul id="tablet-list">
<li>
錠剤によっては大きさが違ったりすることもあって飲ませにくいことがあったりします。まずは焦らないことが大切です。ここでは飲ませ方の工夫について紹介します。
</li>
<li>
・粉薬に変更する<br>
薬の種類によっては粉薬があるものもあります。錠剤が飲めないときには薬剤師や医師の先生に相談してみるといいかも知れません。
</li>
<li>
・服薬補助ゼリーを使用する。<br>
服薬補助ゼリーは錠剤にも使用することが可能です。使ってみるとよいでしょう。
</li>
<li>
・飲む練習をする<br>
小さなラムネや砕いたチョコレートを使用して飲み込む練習をするのも良いでしょう
</li>
<li>
<b>してはいけないこと</b>
</li>
<li>
・錠剤を砕いて飲ませる。<br>
薬の種類によっては砕かないほうがいいものあります。自己判断で砕いたりせず、薬剤師や医師の先生に相談するようにしましょう。
</li>
</div>
</div>
</div>
</div>