
/* ========================================
	ラッパー
========================================= */
.wrapper{
  width: auto;
  height: auto;
  margin: 0 auto;
}
.mask{
  height: 100%;
  /* background: rgba(255,255, 255, 0.15); */
}


/* ========================================
	ヘッダー
========================================= */
.top-page-header{
  background-color:white;
  height: 100px;
  /* background-image: url("sky_00012.png"); */
 
}
.header-title{
  font-size: 20px;
  color: black;
  text-decoration: none;
 
}
.title{
  font-size: 20px;
  color: black;
  height: 100px;
  text-decoration: none;
}

.list-right{
  display: flex;
  justify-content: flex-end;
}

.log-out{
  padding-left: 20px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.question{
  padding: 20px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.log-in{
  padding: 20px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.guest-log-in{
  padding: 20px;
  color: black;
  font-size: 20px;
  text-decoration: none;

}

.name{
  font-size: 20px;
}

/* ========================================
	質問投稿一覧
========================================= */
.question-lists{
  height: 400px;
  /* border-bottom: solid 1px black; */
  border-top: solid 1px black;
  background: rgba(82, 90, 92, 0.1);
  font-size: 20px;
  padding-top: 10px;
}



.list{
  list-style: none;
  font-size: 20px;
  padding-left: 30px;
 
}
.question-list{
  float: right;
  font-size: 10px;
  padding-right: 20px;
  /* padding-top: 10px; */
}

.search-form{
  margin-left: 20px;
}
/* ========================================
	質問投稿
========================================= */
.question-title{
  margin-left: 20px;
}
.content{
  margin-left: 20px;
}

/* ========================================
	フッター
========================================= */
.top-page-fotter{
  height: 400px;
  /* border-top: 1px solid black; */
  padding-top: 5px;
  /* background-image: url("sky_00012.png"); */
}
.information{
  color: black;
  font-size: 20px;
  text-decoration: none;
}






/* ========================================
	新規登録
========================================= */
/* .contents-row{
  background-image: url("sky_00012.png");
} */

.container{
  /* margin: 30px 0; */
  padding: 30px;
  background-color:white;
  box-sizing: border-box;
  height: 400px;
}


.btn {
  /* margin: 10px, 0; */
  border-radius: 5px;
  border: none;
  width: 110px;
  background-color: hsl(220, 64%, 56%);
  color: #fff;
  /* margin-left: 20px; */
  cursor: pointer;
}
.back-btn{
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color:  hsl(220, 64%, 56%);
  color: white;
  cursor: pointer;
  padding: 4px 7px;
  text-decoration: none;
}

.sign-in{
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.actions{
  margin-top: 10px;
}


/* ========================================
	詳細画面
========================================= */

.question-wrapper ul{
   height: 200px;
   width: 100%;
   background-color: white;
   padding-top: 60px;
   font-size: 20px;
   text-indent: -5em;
   padding-left: 6em;
   
  }
.question-manage {
  text-align: center;
}
.question-counts{
  font-size: 16px;
  display: inline;
}
.question-solution{
  font-size: 25px;
  color: red;
}

.question-btn-contents{
  padding-left: 20px;
}
.answer-lists{
  margin-bottom: 40px;
  font-size: 20px;
}
.answer-list{
  font-size: 20px;
  list-style: none;
  padding-bottom: 5px;
}
.answer-list-name{
  float: right;
  padding-right: 40px;
  list-style: none;
}

.answer_btn,
.answer-edit-btn,
.answer-delete-btn,
.question_btn {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color:  hsl(220, 64%, 56%);
    color: white;
    cursor: pointer;
    padding: 4px 7px;
    text-decoration: none;  
}


/* ========================================
	回答画面
========================================= */

.answer-content{
  margin-left: 20px;
}


/* ========================================
	お薬情報画面
========================================= */
.drug-powder{
  margin-left: 20px;
}
.drug-powder{
  line-height: 30px;
}
.drug-information{
  background-color: white;
}

.information-title{
  font-size: 20px;
}